#testimonials{
    min-height: calc(100vh - 91px);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 48px;
}

#testimonial_chef{
    width: 500px;
    height: auto;
}

#testimonials .section-subtitle{
    font-size: 3rem;
}

#textmonials_content{
    width: 50%;
}

#feedbacks{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-bottom: 50px;
    margin-top: 30px;
}

.feedback{
    display: flex;
    align-items: center;
    gap: 15px;
    background-color: var(--color-neutral-0);
    padding: 15px;
    border-radius: 12px;
    box-shadow: 0px 0px 12px 4px rgb(0, 0, 0, 0.1);
}

.feedback-info{
    padding-bottom: 5px;
    cursor: pointer;
}

.feedback-respostas{
    position: relative;
    text-align: right;  
}

.feedback-avatar{
    cursor: pointer;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    object-fit: cover;
}

.feedback-content p{
    display: flex;
    justify-content: space-between;
}

.feedback-content p span{
    color: var(--color-primary-6);
}

@media screen and (max-width: 1170px) {
    #testimonials{
        flex-direction: column;
    }

    #testimonials .section-subtitle{
        text-align: center;
        font: 2.5rem;
    }

    #testimonials-chef{
        display: none;
    }

    #testimonials_content{
        width: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (max-width: 600px){
    
    #testimonials .section-subtitle{
        font-size: 2rem;
    }

    #testimonials_content{
        width: 100%;
    }

    .feedback{
        width: 90%;
        margin-left: 15px;
        flex-direction: column;
        display: flex;
        text-align: justify;
        background-color: var(--color-neutral-0);
        border-radius: 12px;
        box-shadow: 0px 0px 12px 4px rgb(0, 0, 0, 0.1);
}

    }
